<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <form class="form-horizontal" id="frmSearchUser" role="form" method="post">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>Edit Users</h4></div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div style="margin-top:5px;">
                                <input type="text" class="form-control" name="txtUsername" id="txtUsername" placeholder="Username/Email">
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                            <div style="margin-top:5px;">
                                <button type="button" id="btnSearch" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                            <div id="divLoadingGif"></div>
                        </div>

                    </div>
                </div>
            </div>
        </form>

        <form class="form-horizontal" id="frmEditUser" style="display:none" role="form" method="post">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>Edit Users</h4></div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                            <label for="txtFirstName" class="control-label">Firstname</label>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7">
                            <input type="text" class="form-control" name="txtFirstName" id="txtFirstName" placeholder="Firstname">
                        </div>
                        <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                            <label for="txtSurname" class="control-label">Surname</label>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7">
                            <input type="text" class="form-control" name="txtSurname" id="txtSurname" placeholder="Surname">
                        </div>
                        <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3">
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                            <label for="txtEmail" class="control-label">Email</label>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7">
                            <input type="text" class="form-control" name="txtEmail" id="txtEmail" placeholder="Email">
                        </div>
                        <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                            <label for="txtTelNo" class="control-label">Tel No</label>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7">
                            <input type="text" class="form-control" name="txtTelNo" id="txtTelNo" placeholder="Tel No">
                        </div>
                        <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                            <label for="txtPass" class="control-label">Password</label>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7">
                            <input type="password" class="form-control" name="txtPass" id="txtPass" placeholder="Password">
                        </div>
                        <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                            <label for="txtConfPass" class="control-label">Confirm Password</label>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7">
                            <input type="password" class="form-control" name="txtConfPass" id="txtConfPass" placeholder="Confirm Password">
                        </div>
                        <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                            <label for="txtFB" class="control-label">Facebook</label>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7">
                            <input type="text" class="form-control" name="txtFB" id="txtFB" placeholder="Facebook Address">
                        </div>
                        <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                            <label for="ddRoles" class="control-label">Role</label>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7">
                            <select class="selectpicker" name="ddRoles" id="ddRoles" data-width="100%">
                                <option value="-1" selected></option>
                                <option value="0">Admin</option>
                                <option value="1">Groomer</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                            <label for="txtLastLoggedIn" class="control-label">Last Login</label>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7">
                            <input type="text" class="form-control" name="txtLastLoggedIn" id="txtLastLoggedIn" placeholder="Last Login" disabled>
                        </div>
                        <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-3 col-sm-offset-2 col-sm-2 col-md-1 col-lg-1">
                            <button type="button" id="btnUpdateUser" class="btn btn-primary">Update</button>
                        </div>
                        <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
                            <div id="divLoadingGifUpdate"></div>
                        </div>
                        <div class="col-xs-6 col-sm-8  col-md-10 col-lg-10">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-3 col-sm-offset-2 col-sm-6 col-md-6 col-lg-6">
                            <div id="divAlertBox">
                                <div id="divAlertMsgText">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form class="form-horizontal" id="frmUser" role="form" method="post">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>All Users</h4></div>
                <div class="panel-body">

                    <div class="row Heading">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            Firstname
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            Surname
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            Username
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            Email
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            CellNo
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            RoleDesc
                        </div>
                    </div>
                    {{#each Users}}
                    {{#everyOther @index 2 }}
                    <div id="row" class="row rowAltColor">
                        {{else}}
                        <div id="row" class="row">
                            {{/everyOther}}
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                {{Firstname}}
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                {{Surname}}
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                {{Username}}
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                {{Email}}
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                {{CellNo}}
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                {{RoleDesc}}
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>

        </form>
</div>


