
<form class="form-vertical" id="frmLogin" role="form" method="post">
    <div class="row">
        <div class="hidden-xs col-sm-3 col-md-4 col-lg-4">

        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>Salon Kayra Login</h4></div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="txtUsername" class="control-label">Username</label>
                        <input type="text" class="form-control" name="txtUsername" id="txtUsername" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="txtPassword" class="control-label">Password</label>
                        <input type="password" class="form-control" name="txtPassword" id="txtPassword" placeholder="Password">
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group">
                                <button type="button" id="btnLogin" class="btn btn-primary">Login</button>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
                            <div id="divLoadingGif"></div>
                        </div>
                        <div class="col-xs-6 col-sm-8  col-md-8 col-lg-8">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <a href="/forgotpassword" id="forgotpassword">Forgot password?</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div id="divAlertBox">
                                <div id="divAlertMsgText">
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="hidden-xs col-sm-3 col-md-4 col-lg-4">

        </div>
    </div>

</form>