<form class="form-vertical" id="frmForgotPassword" role="form" method="post">
    <div class="row">
        <div class="hidden-xs col-sm-3 col-md-4 col-lg-4">

        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>Forgot Password</h4></div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="txtEmail" class="control-label">Please enter your email address</label>
                        <input type="text" class="form-control" name="txtEmail" id="txtEmail" placeholder="Email">
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group">
                                <button type="button" id="btnForgotPassword" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
                            <div id="divLoadingGif"></div>
                        </div>
                        <div class="col-xs-6 col-sm-8  col-md-8 col-lg-8">
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div id="divAlertBox">
                                <div id="divAlertMsgText">
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="hidden-xs col-sm-3 col-md-4 col-lg-4">

        </div>
    </div>

</form>