<!DOCTYPE html>
<html lang="en">
<head>
    <title>Salon Kayra</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!--CSS-->
    <link href="/css/Bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/css/website.css" rel="stylesheet" />
    <link href="/css/Bootstrap/Validator/bootstrapValidator.min.css" rel="stylesheet" />

    <!--Script files-->
    <script src="/Scripts/jquery-1.11.3.min.js"></script>
    <script src="/Scripts/jquery.easing.1.3.js"></script>
    <script src="/Scripts/Bootstrap/bootstrap.min.js"></script>
    <script src="/Scripts/Bootstrap/Validator/bootstrapValidator.min.js"></script>
    <script src="/Scripts/Bootstrap/Select/bootstrap-select.min.js"></script>
    <script src="/Scripts/WebSite.js"></script>
    


</head>
<body>
    <div class="container">

        {{{body}}}
    </div>
</body>
</html>